.footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-out;
  position: relative;
  border-top: 1px solid gray;
  background-color: #100E09;
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer {
    height: 15vh;
    display: flex;
  }

  .footer .col-md-4 {
    padding-block: 1%;
  }
}

.footer .row {
  width: 100%;
}

.footer .col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 80%;
}

.footer .icon {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  transition: background-color 0.3s;
  margin-inline: 5px;
}

.footer .icon:hover {
  background-color: #198754;
}

.footer .icon i {
  color: #100E09;
  font-size: 1.2em;
  margin: 5px;
  padding: 3px;
  transition: transform 0.3s;

}

.footer .icon:hover i {
  transform: scale(1.2);
}

@media (max-height:768px) {
  .footer {
    height: 15vh;
  }

  .footer .col-md-4 {
    margin-block: 5px;
  }
}