.work-exp{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-exp .work-exp-card {
  width: 50%;
  height: auto;
  overflow: auto;
}

.education{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.work-exp-card .card-header {
  border-bottom: none;
  background-color: #fff;
}

.carouselBtn {
  border: none;
}

.work-exp-card .nav-item {
  width: 33.3%;
  text-align: center;
}

.work-exp-card .nav-item-active {
  border-bottom: 2px solid #198754;
}

.work-exp-card .btn-active {
  color: #198754;
}

.org-type,
.role-type {
  font-size: 1.1em;
  color: #198754;
  width: fit-content;
  padding: 1% 3% 1% 0%;
}

.role-type {
  margin-top: 5px;
  margin-bottom: 15px;
}

.education .item .second {
  display: flex;
  flex-direction: column;
  text-align: end;
}

@media (max-width: 768px) {
  .education
  {
    height: 90vh;
  }

  .education .item {
    display: flex;
    flex-direction: column;
  }

  .education .item .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .break {
    width: 70%;
    margin-left: 15%;
    margin-top: 7.5%;
  }
}

.heading-profile {
  position: relative;
  padding-bottom: 5px;
}

.heading-profile::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.heading-profile:hover::after {
  transform: translateY(100%);
}

.heading-profile:hover::after {
  transform: scaleX(1);
  background-color: #198754;
}

.period {
  font-size: 0.9em;
}

.grade {
  color: #198754;
  font-size: 0.9em;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  background-image: unset !important;
}

.accordion-button:not(.collapsed) {
  color: #198754;
}

.accordion-item .accordion-button:not(.collapsed) {
  background-color: rgb(255, 255, 255);
}

.accordion-item .accordion-button:focus {
  box-shadow: none;
}

.accordion-flush .accordion-item:last-child {
  border-bottom: 1px solid #dee2e6;
}

.accordian-item {
  margin-bottom: 1rem;
  transition: height 1s ease;
}


.accordion-collapse {
  transition: max-height 0.1s ease;
  max-height: 0;
  overflow: scroll;
}

.accordion-collapse.show {
  max-height: 300px;
  transition: max-height 1s ease;
}

.exps,
.skills,
.certifications,
.extra-curricular {
  list-style-position: inside;
}

.exps li,
.skills li,
.certifications li,
.extra-curricular li {
  padding-left: 20px;
}

.extras h4 {
  padding-bottom: 10px;
}

.extras .first,
.extras .second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.extras .first li {
  margin-block: 8px;
}

@media (max-width:768px) {
  .extras {
    margin-top: 10%;
    height: 85vh;
  }

  .extras .first {
    margin-bottom: 10%;
  }
}

.inner-div {
  margin-left: 15%;
  width: 70%;
}

@media (max-width:768px) {
  .skills-section {
    height: auto;
  }

  .skills-subdiv {
    height: 100%;
  }
}

@media (max-width:650px) {
  .job-role .role-type {
    font-size: 0.9em;
  }
  .job-role .period {
    font-size: 0.8em;
  }

  .work-exp .work-exp-card {
    width: 90%;
  }
  
}

.progress-bar {
  background-color: #198754;
}

.progress-bar:hover {
  background-color: #31b276;
  transform: scale(1.05);
}

@media (max-width: 999px) {
  .work-exp{
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .work-exp .work-exp-card {
    width: 75%;
    height: auto;
    overflow: auto;
  }

  .education {
    height: 80vh;
  }

  .education .top {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .work-exp {
    height: 220vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .education {
    height: 100vh;
    text-align: center;
  }

}

@media (max-width: 420px) {

  .work-exp {
    height: 230vh;
  }

  .work-exp .work-exp-card {
    width: 90%;
  }

  .card-header {
    flex-direction: column;
  }
}