.projects {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-out;
  position: relative;
}

.projects-grid {
  width: 70%;
  margin: 0 auto;
}

@media (max-width:999px) {
  .projects {
    margin-top: 10%;
  }
  .projects-heading {
    margin-top: 10%;
  }
}

.card-container {
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card-img-top {
  width: 100%;
  height: 50%;
  margin-top: 1%;
  position:sticky;
}

.card {
  position: relative;
  width: 18rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
}

.card-overlay {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
}

.card-footer {
  display: flex;
  align-items: flex-end;
  background-color: white;
  border-top: none;
}

.card-text {
  color: #1d1c1c;
}

.linkBtn {
  width: 100%;
}


